
.board{
    background-repeat: no-repeat;  background-size: 100% 100%;
}

.title{
    width: 100%;
    position: absolute;
    top: 15%;
    text-align: center;
    font-size: 32px;
    font-family: cursive;
}

/*Please look at basics.js for positioning of the elements below*/
#greeting{
  position:fixed;
  margin-top:-120px;
    
}

#colours{
  position:fixed;
  margin-top:-130px;  
}

#weather{
    margin-top:50px; 
    position:fixed;
  
}

#directions{
  margin-top:60px; 
  position:fixed;  
}

