.choose_number{
  top:40%;
  position: fixed;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
}

.number_block{
  width: 30px;height:60px;
  background: black;color:white;
  text-align:center;
  font-weight: bold;
}