/*this css file has general style related to teaching numbers procedure*/
.teaching_nums{
  width: 100%;
  height: 20%;
  text-align: center;
  position: fixed;
  top:35%;
  
}

.number_table{
  width: 100%;
  height: 20%;
  text-align: center;
  position: fixed;
  top:50%;
  
}

.digits{
  
  font-size:350%;
  font-weight: bold;
  
}

.equality{
  
  font-size:350%;
  font-weight: bold;
  
}
